/* arcade-verification.component.css */

.verification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-message,
.success-message,
.error-message {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.loading-message {
  color: #007bff; /* blue */
}

.success-message {
  color: #28a745; /* green */
}

.error-message {
  color: #dc3545; /* red */
}

.success-message i,
.error-message i {
  margin-right: 10px;
}
